{% extends 'base.html.twig' %}

{% block title %}Modify Category{% endblock %}

{% block body %}
    <div>
        <h1>Are you really want to remove category "{{ category.name }}"?</h1>
    </div>
    <div>

        <form class="" action="" method="post" autocomplete="off" enctype="multipart/form-data">
            <div class="form-group">
                <button type="submit" name="submit">YES</button>
                <a href="{{ path('app_admin_panel') }}">NO</a>
            </div>
        </form>
    </div>
{% endblock %}
