{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/">The World War 2 Timeline</a>
    </div>
    <div class="align-self-end">
      <a class="btn btn-success aria-disabled="true"" href="{{ path('app_login') }}">Log in</a>

      <a class="btn btn-warning aria-disabled="true"" href="{{ path('app_admin_panel') }}">Admin Panel</a>
      <a class="btn btn-danger aria-disabled="true"" href="/">Log out</a>
    </div>
  </div>
</nav>
{% endblock %}